@import 'bulma/css/bulma.css';
@import '@fortawesome/fontawesome-free/css/all.css';

html {
  overflow-y: auto;
  background-color: #8398A1;
}

body {
  min-height: 100vh;
}

.tab-content {
  background-color: #607780;
}

.tabs {
  background-color: transparent;
}

.tabs a {
  color: white;
}

.tabs li.is-active a {
  color: #29fff4;
  border-bottom-color: #29fff4;
}

.progress:indeterminate {
  animation-duration: 0.5s;
}

/* START PokeRPS */
.type-normal, .type-normal *{color: #A8A878}
.type-fire, .type-fire *{color: #F08030}
.type-water, .type-water *{color: #82a5f5}
.type-grass, .type-grass *{color: #78C850}
.type-ice, .type-ice *{color: #98D8D8}
.type-fighting, .type-fighting *{color: #eb817c}
.type-poison, .type-poison *{color: #833183}
.type-ground, .type-ground *{color: #E0C068}
.type-flying, .type-flying *{color: #A890F0}
.type-psychic, .type-psychic *{color: #fc9db9}
.type-bug, .type-bug *{color: #A8B820}
.type-rock, .type-rock *{color: #B8A038}
.type-ghost, .type-ghost *{color: #664a92}
.type-dragon, .type-dragon *{color: #692ef1}
.type-dark, .type-dark *{color: #705848}
.type-steel, .type-steel *{color: #c7c7ce}
.type-fairy, .type-fairy *{color: #e4aab6}
.type-electric, .type-electric *{color: #F8D030}
/* END PokeRPS */


/* START ToolCard */
.toolcard-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 510px));
}

.toolcard {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 4px 12px;

  min-height: 280px;
  max-height: 280px;
  height: 280px;

  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 172px auto;
}

.toolcard-footer {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.maxw-1600 {
  max-width: 1600px !important;
}
/* END ToolCard */

.social-media-icons {
  position: fixed;
  right: 0%;
}

.is-linkedin {
  background-color: #0E76A8;
  color: #FFF;
}

.is-github {
  background-color: #171515;
  color: #FFF;
}

