@import 'bulma/css/bulma.css';
@import '@fortawesome/fontawesome-free/css/all.css';

body {
  min-height: 100vh;
  background-color: #8398A1;
}

.tab-content {
  background-color: #607780;
}

.tabs {
  background-color: #9BAFB8;
}

.progress:indeterminate {
  animation-duration: 0.5s;
}

.type-normal, .type-normal *{color: #A8A878}
.type-fire, .type-fire *{color: #F08030}
.type-water, .type-water *{color: #82a5f5}
.type-grass, .type-grass *{color: #78C850}
.type-ice, .type-ice *{color: #98D8D8}
.type-fighting, .type-fighting *{color: #eb817c}
.type-poison, .type-poison *{color: #833183}
.type-ground, .type-ground *{color: #E0C068}
.type-flying, .type-flying *{color: #A890F0}
.type-psychic, .type-psychic *{color: #f589a9}
.type-bug, .type-bug *{color: #A8B820}
.type-rock, .type-rock *{color: #B8A038}
.type-ghost, .type-ghost *{color: #705898}
.type-dragon, .type-dragon *{color: #692ef1}
.type-dark, .type-dark *{color: #705848}
.type-steel, .type-steel *{color: #c7c7ce}
.type-fairy, .type-fairy *{color: #e4aab6}
.type-electric, .type-electric *{color: #F8D030}